<!--Inicio Contacto-->
<div class="container">
    <div class="row">
        <div class="col">
            <h3 style="padding-top: 60px;" id="contacto">Envianos tu consulta</h3>
            <div id="contactoGaleon" class="container-fluid row">
                <form class="row g-1">
                    <div class="col-md-5">
                        <label for="text" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="col-md-5">
                        <label for="text" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido">
                    </div>
                    <div class="col-10">
                        <label for="mail" class="form-label">Mail</label>
                        <input type="mail" class="form-control" id="mail">
                    </div>
                    <div class="col-10">
                        <label for="Mensaje" class="form-label">Mensaje / Consulta</label>
                        <textarea class="form-control" id="mensaje" rows="3"></textarea>
                    </div>
                    <div class="col-10">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px; background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="container-fluid">
                <a href="/" class="btn btn-primary" style="margin-top: 50px; margin-left: 800px; background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">HOME</a>
            </div>
        </div>
    </div>
</div>