1<!DOCTYPE html>

<div class="row">
    <div class="col">
        <h3 style="padding-top: 30px; padding-bottom: 30px; text-align: center;">Productos en Venta</h3>
        <div class="container-fluid col row" id="listaProductos">
            <div class="card" style="width: 18rem; margin-left: 15px;">
                <img src="images/Tazas/20190729_222350.jpg" class="card-img-top" alt="Jarros Termicos">
                <div class="card-body">
                    <p class="card-text">JARROS TERMICOS - Para mantener tu bebida fria o caliente, elegi lo que quieras
                        que le estampemos que lo hacemos!</p>
                    <a href="#" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70);">COMPRAR</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-left: 30px">
                <img src="images/Tazas/20190718_225922.jpg" class="card-img-top" alt="River Boca">
                <div class="card-body">
                    <p class="card-text">TAZA CERAMICA - Sabias que poder pedirnos una raza de ceramica estampada con lo
                        que a vos se te ocurra?...no lo dudes, contactanos que hacemos la tuya!</p>
                    <a href="#" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">COMPRAR</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-left: 30px">
                <img src="images/Mates/20200104_183628.jpg" class="card-img-top" alt="Mate Plastico">
                <div class="card-body">
                    <p class="card-text">MATE PERSONALIZADO - Tambien podes pedirnos mates plasticos estampados con lo
                        que a vos mas te guste!</p>
                    <a href="#" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">COMPRAR</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-left: 30px">
                <img src="images/Bolsas - Canastos/20201011_163109.jpg" class="card-img-top" alt="Set Fin de año">
                <div class="card-body">
                    <p class="card-text">REGALOS EMPRESARIALES - Podes pedirnos que armemos algun regalo empresarial
                        para fin de año o cuando vos quieras!</p>
                    <a href="#" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">COMPRAR</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin-left: 15px; margin-top: 30px;">
                <img src="images/Mascotas/20200801_211539.jpg" class="Comederos" alt="Comederos">
                <div class="card-body">
                    <p class="card-text">COMEDEROS PARA MASCOTAS - Ahora podes tener el comedero de tu mascota con su
                        nombre, Pedile el suyo!</p>
                    <a href="#" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">COMPRAR</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-left: 30px; margin-top: 30px;">
                <img src="images/Mascotas/20200603_200718.jpg" class="card-img-top" alt="Identificadores">
                <div class="card-body">
                    <p class="card-text">IDENTIFICADOR DE MASCOTAS - Coloca en tu mascota un identificador con su nombre
                        y tu telefono para asegurarte que si se pierde, te puedan contactar para avisarte!</p>
                    <a href="#" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">COMPRAR</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-left: 30px; margin-top: 30px;">
                <img src="images/Frascos/Frascos Cumpleaños.jpg" class="card-img-top" alt="Frascos">
                <div class="card-body">
                    <p class="card-text">FRASCOS SOUVENIR - Contamos con Frascos Personalizados para que puedas tener en
                        una Fiesta!</p>
                    <a href="#" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">COMPRAR</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin-left: 30px; margin-top: 30px;">
                <img src="images/Vinilos/20200817_140151.jpg" class="card-img-top" alt="Vinilos">
                <div class="card-body">
                    <p class="card-text">VINILOS AUTOADHESIVOS - Pedi tu plancha de vinilos autoadhesivos personalizados
                        para pegarlos donde quieras!</p>
                    <a href="#" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">COMPRAR</a>
                </div>
            </div>
        </div>
    </div>