
  <div class="container-fluid">
<div class="col" style="padding-top:100px; padding-left: 400px;">
    <div id="cardQuienesSomos" class="card" style="width: 30rem;">
      <img src="images/Logo/Logo 2020.jpg" class="card-img-top" alt="LogoGALEON">
      <div class= "card-body">
        <h5 class="card-title">QUIENES SOMOS</h5>
        <p class="card-text">Somos una Empresa que comenzó a crear diferentes productos para satisfacer las necesidades
          de los clientes que lleva ya 5 años de vida, apostando a mejorar dia a dia, a través de la calidad de nuestros
          productos, en la satisfaccion de nuestros clientes.</p>
        <a href="/contacto" class="btn btn-primary" style="background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">CONTACTO</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <a href="/" target="_blank" class="btn btn-primary" style="margin-top: 50px; margin-left: 600px; background-color: rgb(89, 226, 70); border-color: rgb(89, 226, 70)">HOME</a>
</div>
</div>